<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>{% block title %}{% endblock %} - FAQ O'clock</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    </head>
    <body>
        <div class="container">

            <nav class="navbar navbar-light bg-light">
                <div>
                    <h2><a href="{{ path('question_list') }}">FAQ O'clock</a></h2>
                    <div><i>Vos questions-réponses juste à temps !</i></div>
                </div>
                
                <div id="right">
                    <span class="mr-2">Bienvenue invité</span>
                    <a href=""class="btn btn-danger">Poser une question</a>
                </div>
            </nav>
            
            <hr>
            <div class="row">
                <div class="col">
                    {% block body %}{% endblock %}
                </div>
            </div>

            <footer>
                <hr>
                <p>FAQ O'clock made with &hearts; by <i>#teamsymfony</i></p>
            </footer>
            
        </div>
    </body>
</html>
